# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/

# PyTorch model checkpoints
checkpoints/
*.pth

# SQLite databases
*.db

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
